#layout>header {
  width: 100%;
  margin-top: 120px;
  background-color: #a0c1ff;
  background-image: url(../images/nice-snow.png);
}

.texture-overlay {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 50px;
  z-index: 1;
  box-shadow: 0px -60px 100px 0px rgba(109, 160, 255, 0.3) inset;
}

.user-img-container,
.name-container,
#user-img,
.name {
  margin: 0px;
  padding: 0px;
  position: relative;
  z-index: 2;
}

@media (max-width: 640px) {
  #layout>header {
    margin-top: 50px;
  }
}

@media (min-width: 1024px) {
  #layout>header {
    width: 33%;
    flex-direction: column;
  }

  header>.texture-overlay {
    justify-content: flex-start;
    height: 100vh;
    width: 100%;
    position: sticky;
    top: 120px;
    bottom: 120px;
    padding: 50px 0px 0px 0px;
  }
}