nav {
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 0em 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 5;
}

nav > span {
  font-family: Bungee, sans-serif;
}

nav > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fa-angles-down {
  color: #FFFFFF;
}

.nav-right {
  transition: 0.5s;
}

.nav-right:hover {
  transform: scale(1.05);
  cursor: pointer;
}

@media (max-width: 640px) {
  nav {
    justify-content: center;
    height: 50px;
  }

  .nav-right {
    display: none;
  }
}