.new-tweet {
  display: flex;
  flex-direction: column;
  width: 90%;
  display: none;
}

.textarea-border {
  border-radius: 45px 45px 45px 0px;
  background: #ffffff;
  padding: 25px;
  transition: 0.3s;
}

.post-tweet {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 15px;
}

.submit-tweet {
  border-radius: 0px 24px 24px 24px;
}

.new-tweet>form>label {
  font-weight: 600;
  padding: 0px 0px 25px 0px;
}

/* Error display */

.error-tooltip-container {
  position: relative;
  display: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  width: 100%;
  display: flex;
}

/* tooltip bubble*/
.error-tooltip-container .error-empty {
  visibility: hidden;
  background-color: #345DA8;
  font-size: 17px;
  color: #ffffff;
  opacity: 1;
  text-align: center;
  border-radius: 15px;
  padding: 5px 25px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

/* tooltip arrow */
.error-tooltip-container .error-empty::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #345DA8 transparent transparent transparent;
}

/* tooltip bubble*/
.error-tooltip-container .error-count {
  visibility: hidden;
  background-color: #345DA8;
  font-size: 17px;
  color: #ffffff;
  opacity: 1;
  text-align: center;
  border-radius: 15px;
  padding: 5px 25px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

/* tooltip arrow */
.error-tooltip-container .error-count::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #345DA8 transparent transparent transparent;
}

/* add this class to reveal error */
.reveal-error-tooltip {
  visibility: visible !important;
}

.textarea-border:hover {
  box-shadow: 10px 10px 15px 0px rgba(136, 159, 238, 0.24);
}

#tweet-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#tweet-text {
  width: 100%;
  border-style: none;
  outline: none;
  resize: vertical;
  word-wrap: break;
}

@media (max-width: 640px) {

  /* overwrites jquery toggle */
  .new-tweet {
    display: block !important;
  }

  .submit-tweet {
    margin: 10px 0px;
  }

  .new-tweet>form>label {
    display: flex;
    align-self: center;
  }

  #tweet-text {
    font-size: 18px;
  }
}