.new-tweet {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.post-tweet {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.new-tweet > form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.new-tweet > h2 {
  padding-bottom: 25px;
  margin: 0px;
}

.new-tweet > form > label {
  font-weight: 600;
  padding-bottom: 10px;
}

.new-tweet > form > textarea {
  width: 100%;
  border-style: none;
  resize: vertical;
}

.error-empty, .error-count {
  color: #940303;
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 10px;
  display: none;
}