.tweet {
  margin: 15px 0px;
}

.tweets {
  width: 75%;
}

.tweet-content {
  background-color: #ffffff;
  transition: 0.3s;
  padding: 25px;
  max-height: 200px;
  border-radius: 0px 0px 25px 25px;
  box-shadow: 10px 10px 15px 0px rgba(142, 183, 254, 0.12);
  overflow-wrap: break-word;
}

.tweet-user {
  font-size: 24px;
  margin: 0px;
  line-height: 0px;
}

.tweet-handle {
  font-size: 17px;
  margin: 0px;
  line-height: 0px;
  opacity: 60%;
  transition: 0.3s;
}

.tweet-handle:hover {
  opacity: 100%;
  cursor: pointer;
}

.avatar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.avatar {
  width: 50px;
  height: 50px;
}

.tweet>header {
  background-color: #ffffff;
  height: 75px;
  padding: 25px 25px 0px 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  border-radius: 25px 25px 0px 0px;
  box-shadow: 10px 10px 15px 0px rgba(142, 183, 254, 0.12);
}

.tweet>footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 10px;
  padding: 0px 15px;
}

.tweet>footer>ul {
  display: flex;
  margin: 5px 0px;
  gap: 15px;
}

.tweet>footer>p {
  font-size: 17px;
  font-weight: 600;
  color: #4056A1;
}

.tweet>footer>ul>li {
  list-style-type: none;
}

.fa-flag:hover,
.fa-retweet:hover,
.fa-heart:hover {
  color: #345DA8;
  cursor: pointer;
}

@media (max-width: 640px) {
  .tweets {
    width: 90%;
  }

  .avatar {
    width: 25px;
    height: 25px;
  }

  .tweet-user {
    font-size: 18px;
    margin: 0px;
    line-height: 0px;
  }

  .tweet-handle {
    font-size: 17px;
    margin: 0px;
    line-height: 0px;
    opacity: 60%;
    transition: 0.3s;
  }

  .tweet>header {
    height: 50px;
  }
}

@media (min-width: 1024px) {
  .tweet {
    margin: 0px 0px 5px 0px;
  }

  .tweets {
    width: 100%;
  }
}